<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project_Assignment_HansenBillyRamades"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.activity.TransactionOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.ChoosePaymentWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.CategoryProductActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.SearchProductsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.ChooseAddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.OnBoardActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.CreateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Final_Project_Assignment_HansenBillyRamades" />
        <activity
            android:name=".presentation.ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>